#addProjectRow .ColorPicker svg{
  position: relative;
  left: 1.5rem;
  top: 0.2rem;
}

#addProjectLabelDiv label{
  bottom: .7rem;
}

#addProjectRow .setNameCell, #addProjectRow .setDurationCell{
  padding-top: 1rem !important;
}

@media(max-width: 820px){
  #addProjectRow td:last-child{
    text-align: right;
  }
}
