.About{
  padding: 1.5rem 2rem 4rem 2rem;
}

.h-1{
  text-align: center;
}

.h-2{
  text-align: center;
  padding-top: 1.75rem;
}

.summary{
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
}
